@{
    Layout = "_Layout";
}
@using OOP_Lab2.Models
@model IEnumerable<Track>

<h2>Tracks</h2>
<div class="track-list">
<table>
    <tbody>
        @foreach (var track in Model)
        {
            <tr class="track-row" track-path="@track.AudioFilePath">
                <td class="track-row-cover">
                    <div class="undercover">
                        <div class="pulse-circle"></div>
                    </div>
                    <img src="@track.Album.CoverImagePath" class="track-row-cover-img"></td>
                <td class="track-row-info"><span class="track-row-title">@track.Title </span><br /><span class="track-row-artist">@track.Album.Artist.Name</span></td>
                <td class="track-row-control"><a href="track/delete/@track.Id"><img src="img/delete.png"></a></td>
            </tr>
        }
    </tbody>
</table>
</div>
<a href="/Track/Create" class="btn btn-primary">Add Track</a>

<div id="audio-player">
    <audio id="audio" preload="auto" src=""></audio>

    <div id="controls">
        <button id="play-pause" class="button">Play</button>
        <span id="time">00:00 / 00:00</span>
    </div>

    <div id="progress-container">
        <div id="progress"></div>
    </div>
</div>
