.artist-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    max-height: calc(100vh - 200px);
    overflow-x:hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

h2{
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 30px!important;
    font-weight: 500!important;
    margin: 15px 0!important;
}

.artist {
    width: 225px;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 2px solid #fff;
}

.artist:hover{
    border: 2px solid #d68d9a;
}

.artist > a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.artist:hover .artist-avatar{
    border-radius: 0;
}

.artist-avatar{
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.artist-form{
    width: 1000px;
    align-items: center;
    padding: 0 300px;
}


.toggle-code > button {
    border: none;
    color: #fff;
    padding: 0 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #d68d9a;
}

.toggle-code > button:hover {
    background-color: #c37583;
    cursor: pointer;
}

.toggle-code{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}