@{
    Layout = "_Layout";
}

@using OOP_Lab2.Models
@model IEnumerable<Artist>
<link rel="stylesheet" type="text/css" href="/css/artists.css" />

<h2>Исполнители</h2>
<div class="artist-list">
@foreach (var artist in Model)
        {
    <div class="artist">
        <a href="/artist/details/@artist.Id">
        @if (!string.IsNullOrEmpty(artist.AvatarPath))
                    {
                        <img class="artist-avatar"  src="@artist.AvatarPath" alt="Avatar" />
                    }
        <p>@artist.Name</p></a>
    </div>
        }
    <div class="artist-form">
        <form class="nice-form-group" action="/artist/create" method="post" enctype="multipart/form-data">
            <div class="nice-form-group" class="form-group">
                <label for="name">Имя</label>
                <input class="nice-form-group" type="text" id="name" name="name" class="form-control" required />
            </div>
        
            <div class="nice-form-group" class="form-group">
                <label class="nice-form-group" for="avatar">Аватарка</label>
                <input class="nice-form-group" type="file" id="avatar" name="avatar" class="form-control-file" />
            </div>
            <div class="toggle-code">
                <button  type="submit" class="btn btn-primary">Создать Исполнителя</button>
            </div>
        </form>

    </div>
</div>

